
<div class="login-container d-flex flex-column">
  <div class="signinSection">
    <div class="info">

      <div>
        <i class="fas fa-10x fa-globe" id="globe-img"></i>
      </div>
      <p>The Future Is Here</p>
    </div>

    <div class="form-group">
    <div>
        <h2 id="login-title">Welcome Back !</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="signinForm">
          <ul class="noBullet">
            <li class="inputFields" id="email">
              <%= f.input :email,
                          label: false,
                          required: false,
                          autofocus: true,
                          placeholder: "Email",
                          input_html: { autocomplete: "email" } %>
            </li>
            <li class="inputFields" id="password">
              <%= f.input :password,
                          required: false,
                          label: false,
                          placeholder: "Password" ,
                          input_html: { autocomplete: "current-password" } %>
            </li>
            <li class="inputFields" id="remember_me">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </li>
            <li  id="join-btn" class="btn rounded">
              <%= f.button :submit, "Log in" %>
            </li>
          </ul>
        </div>
      <% end %>
      <div class="shared-links d-flex">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
