

  <!--<div class="m-4">
    <h2 class='login-heading mt-5 mb-3'>Welcome Back !</h2>
  </div>

  <div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="signupForm d-flex flex-column">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions  btn btn-outline-dark btn-sm rounded-pill w-75 ml-4 m-3">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
-->

<div class="login-container d-flex flex-column">
  <div class="signinSection">
    <div class="info">

      <div>
        <i class="fas fa-10x fa-globe" id="globe-img"></i>
      </div>
      <p>The Future Is You</p>
    </div>

    <div class="form-group">
    <div>
        <h2 class='login-heading'>Welcome Back !</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="signinForm">
          <ul class="noBullet">
            <li class="inputFields" id="email">
              <%= f.input :email,
                          label: false,
                          required: false,
                          autofocus: true,
                          placeholder: "Email",
                          input_html: { autocomplete: "email" } %>
            </li>
            <li class="inputFields" id="password">
              <%= f.input :password,
                          required: false,
                          label: false,
                          placeholder: "Password" ,
                          input_html: { autocomplete: "current-password" } %>
            </li>
            <li class="inputFields" id="remember_me">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </li>
            <li  id="join-btn" class="btn rounded">
              <%= f.button :submit, "Log in" %>
            </li>
          </ul>
        </div>
      <% end %>
      <div class="shared-links d-flex">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>



  <%# <form action="#" method="POST" class="signupForm" name="signupform">
    <h2>Sign Up</h2>
    <ul class="noBullet">
      <li>
        <label for="username"></label>
        <input type="text" class="inputFields" id="username" name="username" placeholder="Username" value="" oninput="return userNameValidation(this.value)" required/>
      </li>
      <li>
        <label for="password"></label>
        <input type="password" class="inputFields" id="password" name="password" placeholder="Password" value="" oninput="return passwordValidation(this.value)" required/>
      </li>
      <li>
        <label for="email"></label>
        <input type="email" class="inputFields" id="email" name="email" placeholder="Email" value="" required/>
      </li>
      <li id="center-btn">
        <input type="submit" id="join-btn" name="join" alt="Join" value="Join">
      </li>
    </ul>
  </form>
</div> %>
